.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
  min-height: 100vh;
  opacity: 1;
  font-family: 'Neucha', cursive;
}

.search-form {
  width: 300px;
}

.input {
  width: 80%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
